$color_coral: rgb(250, 108, 56);
$color_blanco:white;
$color_gris:  gray;
$color_azul:  steelblue;
$color_fondo: rgb(245, 202, 187);

// $breackpoint-sm: (min-width: 576px);
// $breackpoint-md: (min-width: 768px);
// $breackpoint-lg: (min-width: 992px);
// $breackpoint-xl: (min-width: 1200px);

// $breakpoints: (
//     'small':(min-width: 576px),
//     'medium':(min-width: 768px),
//     'large':(min-width: 992px),
//     'xl':(min-width: 1200px),
// );